body {
  width: 100%;
  margin: 0 auto;
}

.wrap {
  width: 1510px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.topblock {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.text_1 {
  font-family: 'Kaushan Script', sans-serif;
  font-size: 30px;
  color: #2D3033;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  color: #2D3033;
  font-weight: 900;
}

.separator {
  width: 170px;
  height: 0;
  border: 2px solid #F38281;
  background-color: #F38281;
}
.subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 21px;
  padding-top: 15px;
}

.pictures {
  justify-content: space-between;
  max-width: 1510px;
  margin: 0 auto;
  padding-top: 42px;
  display: grid;
  grid-template-areas:
  "one three five six"
  "two four five seven";
}

.pictures__item {
  &__1 {
    grid-area: one;
  }
  &__2 {
    grid-area: two;
  }
  &__3 {
    grid-area: three;
  }
  &__4 {
    grid-area: four;
  }
  &__5 {
    grid-area: five;
  }
  &__6 {
    grid-area: six;
  }
  &__7 {
    grid-area: seven;
  }
}


  @media (max-width: 320px) {

    .wrap {
      width: 750px;
    }

    .topblock {
      max-width: 700px;
    }

    .pictures {
      max-width: 320px;
      display: grid;
      grid-template-areas:
            "one five"
            "two five"
            "seven four"
            "six three";
    }

  }


